* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  /* background-image: url("assets/hobby.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/hobby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  min-height: 100vh;
}
.container {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.7);

  width: 100%;
  border-radius: 16px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  padding: 30px 40px;
  transition: all 0.3s ease;
}
.container:hover {
  transform: translateY(-5px);
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
#title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}
#description {
  font-size: 1rem;
}
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
label,
.group-label {
  font-weight: 600;
  margin-bottom: 8px;
}
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  padding: 10px 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s ease;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #66a6ff;
  outline: none;
}
.align {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: -12px;
}
.align label {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.75;
  margin-top: 7.7px;
}
#input-btn-div {
  display: none;
  align-items: center;
  margin-top: 10px;
}
#other-hobbies-input {
  margin-top: 6px;
  font-size: 0.9rem;
  width: 80%;
  margin-left: 20px;
}
#input-btn-div button {
  font-size: 1rem;
  border: 2px solid #fff;
  margin-top: 5px;
  color: rgb(0, 0, 0, 0.43);
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 2rem;
  transition: 0.3s ease;
}
#input-btn-div button:hover {
  border-color: #66a6ff;
  transform: scale(1.07);
}

.checkbox-group input,
.radio-group input {
  accent-color: #66a6ff;
  transform: scale(1.1);
}

select {
  background-color: #f9f9f9;
}
#submit {
  width: 100%;
  padding: 12px;
  font-size: 1.28rem;
  background-color: rgba(29, 96, 125, 0.7);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
#submit:hover {
  background-color: rgba(14, 77, 102, 0.7);
  transform: scale(1.02);
}

/* Mobile-resposiveness */

@media (max-width: 600px) {
  .container {
    padding: 25px;
  }
  #title {
    font-size: 1.5rem;
  }
  button {
    font-size: 0.95rem;
  }
  #description {
    font-size: 0.75rem;
  }
}
